body {
    overflow-y: hidden;
}

.left-Login {
    align-items: center;
    background-image: linear-gradient(to right, red , yellow);
    bottom: 0;
    display: flex;
    max-width: 50%;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 50%;
}

.Login {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 50%;
    padding: 70px;
}

.login-box {
    background-color: black;
    bottom: 0;
    box-shadow: 0px 5px 8px -4px rgba(0, 0, 0, .75);
    height: 100%;
    max-width: 41.7%;
    padding: 60px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 41.7%;
}

.login-title {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 900;
    justify-content: center;
    margin-left: 10px;
    margin-top: -10px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
}

.login-inputs,
.login-btn,
.login-signup {
    border: none;
    border-radius: 15px;
    box-shadow: 0px 5px 8px -7px rgba(0, 0, 0, .75);
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
}

.login-btn,
.login-signup {
    color: white;
    cursor: pointer;
    background-color: #ffa515;
    border-radius: 0px;
    font-size: larger;
    font-weight: 900;
    padding: 20px;
}

.login-btn:hover,
.login-signup:hover {
    background-color: #f98100;
}

input:focus{
    outline: none;
}